In [1]:
# Importar librerias necesarias

import pandas as pd

In [2]:
# configurar pandas para que muestre todas las columnas del dataset
pd.set_option('display.max_columns', None)

In [4]:
# Lectura de archivos a procesar

bank_transactions = pd.read_csv("data/bank_transactions.csv")
customer_segmentation = pd.read_csv('data/customer_segmentation.csv')
german_credit = pd.read_csv('data/german_credit_data.csv')

<h1>Proceso para limpieza de bank_transactions Dataset</h1>

In [41]:
# Conteo de datos datos nulos en cada columna del dataset bank_transactions:

# CustomerDOB                3397    
# CustGender                 1100    
# CustLocation                151    
# CustAccountBalance         2369    

bank_transactions.isna().sum()

TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

<h2>-- Eliminar nulos --</h2>

In [6]:
# Se descartan las columnas con datos nulos:
# Se crea una variable auxiliar para crear los cambios en el dataset

bank_transactions  =  bank_transactions[bank_transactions['CustomerDOB'].notnull()]
bank_transactions  =  bank_transactions[bank_transactions['CustGender'].notnull()]
bank_transactions  =  bank_transactions[bank_transactions['CustLocation'].notnull()]
bank_transactions  =  bank_transactions[bank_transactions['CustAccountBalance'].notnull()]

In [12]:
# Verificación de outliers en columnas con valores categóricos

bank_transactions['CustGender'].value_counts()

M    760978
F    280635
T         1
Name: CustGender, dtype: int64

In [13]:
# Corrección de valor mal ingresado para 'CustGender'  ||  Remplazar 'T' por valor con mayor incidencia ('M')


bank_transactions.loc[bank_transactions['CustGender']=='T', 'CustGender']='M'

bank_transactions['CustGender'].value_counts()

M    760979
F    280635
Name: CustGender, dtype: int64

In [14]:
# Data set Limpio!
# Se eliminan 6953 filas

bank_transactions.isna().sum()

TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

<h1>Proceso para limpieza de customer_segmentation dataset</h1>

In [35]:
# Conteo de valores nulos en las columnas del dataset
customer_segmentation.isna().sum()

Unnamed: 0         0
Customer Id        0
Age                0
Edu                0
Years Employed     0
Income             0
Card Debt          0
Other Debt         0
Defaulted          0
DebtIncomeRatio    0
dtype: int64

In [23]:
# Remplazo de valores nulos en la columna 'Defaulted' por el valor 0.0

customer_segmentation.loc[customer_segmentation['Defaulted'].isna(), 'Defaulted'] = 0.0

In [24]:
# Conteo de valores nulos
# dataset limpio!
customer_segmentation.isna().sum()

Unnamed: 0         0
Customer Id        0
Age                0
Edu                0
Years Employed     0
Income             0
Card Debt          0
Other Debt         0
Defaulted          0
DebtIncomeRatio    0
dtype: int64

<h1>Proceso para limpieza de german_credit dataset</h1>

In [25]:
german_credit

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,996,40,male,3,own,little,little,3857,30,car
997,997,38,male,2,own,little,NaN,804,12,radio/TV
998,998,23,male,2,free,little,little,1845,45,radio/TV
999,999,27,male,2,own,moderate,moderate,4576,45,car

In [26]:
# Conteo de valores nulos en el dataset
german_credit.isna().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [29]:
# Conteo de valores categoricos en la columna 'Saving accounts'
german_credit['Saving accounts'].value_counts()

little        603
moderate      103
quite rich     63
rich           48
Name: Saving accounts, dtype: int64

In [30]:
# Conteo de valores categoricos en la columna 'Checking account'
german_credit['Checking account'].value_counts()

little      274
moderate    269
rich         63
Name: Checking account, dtype: int64

In [33]:
# Remplazo de los valores nulos en las columnas 'Checking account' y 'Saving accounts'
# por el valor 'None'

german_credit['Saving accounts'].fillna('None', inplace=True)
german_credit['Checking account'].fillna('None', inplace=True)

In [39]:
# Conteo de valores nulos
# dataset limpio!

german_credit.isna().sum()

Unnamed: 0          0
Age                 0
Sex                 0
Job                 0
Housing             0
Saving accounts     0
Checking account    0
Credit amount       0
Duration            0
Purpose             0
dtype: int64

<h1>Exportación de datos procesados:</h1>

In [40]:
ls data/

bank_transactions.csv      datos_limpios/          tmp/
customer_segmentation.csv  german_credit_data.csv

In [42]:

bank_transactions.to_csv('data/datos_limpios/bank_transactions_cleaned.csv')
customer_segmentation.to_csv('data/datos_limpios/customer_segmentation_cleaned.csv')
german_credit.to_csv('data/datos_limpios/german_credit_cleaned.csv')