In [1]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
dic = [
    
    {
        'name' : 'Alberto',
        'lname' : 'cuenca',
        
    },
    {
        'name' : 'denis',
        'lname' : 'Alanca',
        
    },
    {
        'name' : np.nan,
        'lname' : np.nan,
        
    }

]

In [78]:
df =pd.DataFrame(dic)
df

      name   lname
0  Alberto  cuenca
1    denis  Alanca
2      NaN     NaN

In [81]:
df['lname'].fillna('dato faltante', inplace=True)

In [82]:
df

            name          lname
0        Alberto         cuenca
1          denis         Alanca
2  dato faltante  dato faltante

In [20]:

pd.to_datetime('12/04/56', format = '%d/%m/%y', origin = 'D')

ValueError: '12/04/56' is not compatible with origin='D'; it must be numeric with a unit specified